a.navbar-brand {
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #222426;
}

.fade-in {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


}
.nav-transition {
    height: 70px;
    /*    background-color: white;*/
    /*    For some reason the transition property doesn't work in this class*/
    /*    -webkit-transition: height 2s, background-color 2s, box-shadow 2s;*/
    /*
    -moz-transition: height 2s, background-color 2s, box-shadow 2s;
    -o-transition: height 2s, background-color 2s, box-shadow 2s;
*/
    /*    transition: height 2s, background-color 2s, box-shadow 2s;*/
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    /*    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/

    -webkit-transition: height 0.5s, background-color 0.5s, box-shadow 0.5s;
    transition: height 0.5s, background-color 0.5s, box-shadow 0.5s;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0);
}
.blue {
    color: #445673;
}
.blue:hover {
    color: #9b66a5;
}
.header {
    /* The image used */

    background-image: url("img/headerjupiter.jpg");
    /* Full height */

    height: 100%;
    /* Create the parallax scrolling effect */

    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.slogan {
    padding-top: 10px;
    color: #8598b5;
}
.title {
    color: #677589;
    font-size: 5.5rem;
    text-transform: uppercase;
}
.header-content {
    max-width: 780px;
    text-align: center;
    padding-top: 250px;
    margin: auto;
}
.section-1 {
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 400px;
}
.heading {
    margin-top: 0px;
    color: #677589;
    font-size: 3rem;
}
.sub-heading {
    color: #8598b5;
    font-size: 2rem;
}
.sub-heading2 {
    color: #8598b5;
    font-size: 1.8rem;
}
.account-icon {
    padding-top: 30px;
    width: 200px;
    margin: auto;
}
.account-size {
    width: 230px;
}
@media (max-width: 768px) {
    .white-bck {
        background-color: white;
    }
}
.section-2 {
    background-color: #eaf2f4;
    padding-top: 50px;
    padding-bottom: 50px;
}
.dimention {
    margin-top: 30px;
    margin-bottom: 30px;
}
.market-icon {
    width: 200px;
    margin: auto;
    padding-bottom: 30px;
}
.left-align {
    text-align: right;
}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.logo-adj {
    height: 49px;
    padding-top: 2px;
    padding-right: 35px;
}
.nav-font-adj li a {
    text-transform: uppercase;
    font-size: 1.3rem
}
.btn-adj {
    font-size: 1.8rem;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b95e5;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 190px;
}
@media (min-width: 1301px) {
    .btn-adj {
        margin-bottom: 340px;
    }
}
@media (max-width: 500px) {
    .btn-adj {
        font-size: 1.5rem;
        margin-left: 0px;
        width: 140px;
    }

    .header-content {
        padding-top: 150px;
    }

    .title {
        font-size: 4.4rem;
    }
}

/*
@media only screen and (max-width: 400) {
    .btn-adj {

    }
}
*/
.section-title {
    text-align: center;
    text-transform: uppercase;
    color: #677589;
}
.section-title2 {
    padding-top: 60px;
    color: #677589;
}
.hr-adj {
    width: 100px;
}
.img-adj {
    margin-bottom: 30px;
}
.i-adj {
    color: #d5d9e0;
}
.cent {
    margin: auto;
    width: 300px;
}
.i-adj2 {
    color: #0b95e5;
}
.sect2-adj {
    margin-bottom: 40px;
    background-image:
}
.section-3 {
    /* The image used */

    background-image: url("img/stratbgbig.jpg");
    /* Full height */

    min-height: 400px;
    /* Create the parallax scrolling effect */

    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px;
}
.strat-adj {
    margin-top: 90px;
    color: #ccdfff;
    /*    font-size: 2rem;*/

    text-transform: uppercase;
}
.cont-adj p {
    color: #b9cbea;
}
.strat-title {
    background-color: #0b95e5;
}
.sect-title-adj {
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
}
.circle-adj {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
}
@media (max-width: 992px) {
    .circle-adj {
        height: 120px;
        width: 120pX;
        margin-top: 20px;
    }

    .section-title2 {
        padding-top: 10px;
    }
}
@media (max-width: 536px) {
    .circle-adj {
        height: 100px;
        width: 100pX;
        margin-top: 20px;
    }

    .section-title2 {
        padding-top: 10px;
        font-size: 2.3rem;
    }

    .sub-heading2 {
        font-size: 1.3rem;
    }
}
@media (max-width: 434px) {
        .circle-adj {
        height: 80px;
        width: 80px;
    }
}
@media (max-width: 374px) {
        .circle-adj {
        height: 60px;
        width: 60px;
        margin-top: 30px;
    }
    .section-title2 {
        padding-top: 10px;
        font-size: 2.0rem;
    }
}
@media screen and (max-width: 1000px) and (min-width: 600px) {
    .header {
        background-image: url("img/headerjupiteripad.jpg");
    }

    .section-3 {
        background-image: url("img/dipeshipad.jpg");
    }
}
@media screen and (max-width: 600px) and (min-width: 400px) {
    .header {
        background-image: url("img/headerjupiterphone.jpg");
    }

    .section-3 {
        background-image: url("img/dipeshiphone.jpg");
    }
}
@media screen and (max-width: 400px) and (min-width: 0px) {
    .header {
        background-image: url("img/headerjupitersm.jpg");
    }

    .section-3 {
        background-image: url("img/dipeshsm.jpg");
    }
}

.section-4 {
    background-color: #eaf2f4;
    padding-top: 50px;
    padding-bottom: 50px;
}
.space {
    margin-top: 15px;
}
.tablet {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
    height: 300px;
}
.tes-adj {
    text-align: left;
    text-transform: uppercase;
    color: #677589;
    margin-bottom: 30px;
    font-size: 2.5rem
}
.section-5 {
        /* The image used */

    background-image: url("img/mnt.jpg");
    /* Full height */

    min-height: 400px;
    /* Create the parallax scrolling effect */

    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 90px;
}
.sect-5-adj {
    color: white;
    text-transform: uppercase;
    padding-top: 70px;
}
